/POO/ejercicio9/nbproject/private/
/POO/ejercicio9/build/
/POO/ejercicio10/nbproject/private/
/POO/ejercicio10/build/
/POO/ejercicio11/nbproject/private/
/POO/ejercicio11/build/
/POO/ejercicio12/nbproject/private/
/POO/ejercicio12/build/
/POO/ejercicio13/nbproject/private/
/POO/ejercicio13/build/
/POO/ejercicio14/nbproject/private/
/POO/ejercicio14/build/
/Colecciones/ejercicio1/nbproject/private/
/Colecciones/ejercicio1/build/
/Colecciones/ejercicio3/nbproject/private/
/Colecciones/ejercicio3/build/